@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-100: #ff4136;
  --primary-200: #ff7862;
  --primary-300: #ffe2c1;
  --accent-100: #ffdc00;
  --accent-200: #917c00;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header,
footer {
  
  background-color:var( --bg-300);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: auto;
  position: sticky;
  top: 0px;
  z-index: 100;
  list-style: none;
  color: var(--primary-300);
  font-size: 22px;
  border-bottom: 2px solid var(--primary-100);
}

.header__logo img {
  width: 24px;
  height: 24px;
}
.header__input,
.header__btn {
  display: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header__nav {
  width: 80%;
  height: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: var(--primary-color);
  justify-content: space-between;
}
#title,
h3 {
  font-family: "Dancing Script", cursive;
  font-size: 150%;
  color: #fff;
  font-weight: bold;
}
.title a {
  text-decoration: none;
  color: #fff;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  height: 100%;
}
.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var( --bg-300);
  padding: 10px 20px;
  height: 100%;
  width: 120px;
  cursor: pointer;
  font-size: 1rem;
}
.header__item:hover {
  background-color: var(--primary-100);
}
.header__item a {
  text-decoration: none;
  color: var(--text-200);
  vertical-align: middle;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: auto;
  /* margin: 10px 10px; */
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.historia {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
  font-size: 1.3em;
}
.historia img {
  width: 100%;
  max-width: 700px;
}
#image{
  display:block;
  max-width:100%;
}
h2 {
  align-self: flex-start;
  margin-bottom: 20px;
  color: var(--accent-100);
  font-family: "Dancing Script", cursive;
}
h2:hover {
  color: var(--accent-200);
}
.articulo p {
  color: var(--text-200);
  text-align: justify;
}
h3:hover {
  color: var(--primary-200);
}

.separador {
  width: 100%;
  height: 1px;
  background-color: var(--bg-300);
}
hr {
  display: block;
}
/************* Canciones *********** */

.canciones__container {
  border-top: 2px solid var(--primary-100);
}
 .canciones::after {
  content: "";
  width: 300px;
 
 
} 

.canciones__container h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 32px;
}
.canciones {
  width: 100%;
  height: auto;
  display: flex;
  gap: 11px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  padding: 20px 20px;
  background-color: var(--bg-100);
}
.articulo p,
.articulo h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(255, 226, 193, 0.3);
  transition: 0.3s;
  width: 20%;
  min-width: 300px;
  background-color: var(--bg-300);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card-info {
  padding: 15px;
  font-style: italic;
  color: var(--text-100);
}

.card-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
  color: var(--accent-100);
}
.card-info h3:hover {
  color: #917c00;
}

.card-info p {
  margin-bottom: 10px;
}

.card-info a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary-100);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
}
.card-info a:hover {
  background-color: var(--primary-200);
}
.button {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  color: var(--card-body-color);
  background: var(--primary-200);
}

.container__gallery {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-top: 2px solid var(--primary-100);
}
.container__gallery h2 {
  font-size: 32px;
  margin: 20px 0 0 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.gallery figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  text-align: center;
}

.gallery figcaption,#img-caption {
  margin-top: 10px;
  font-size: 0.8em;
  font-style: italic;
  color: var(--primary-300);
  opacity: 0.5;
}

.gallery img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border: solid 1px #ddd;
}
/* footer */
.h1__footer {
  font-family: "Dancing Script", cursive;
  font-size: 150%;
  color: #fff;
  font-weight: bold;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: var(--bg-200);
  margin-top: 50px;
  border-top: 2px solid var(--primary-100);
}
.h1__footer a {
  text-decoration: none;
  color: var(--primary-300);
}
.footer__menu {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  padding: 0;
}
/* .footer__menu li {
  margin-bottom: 10px;
} */
.footer__menu a {
  margin-bottom: 10px;
  color: var(--primary-300);
  text-decoration: none;
}
.footer__menu a:hover {
  color: var(--primary-200);
}
.footer__menu li:last-child {
  margin-bottom: 0;
}
footer i {
  color: white;
  width: 24px;
  height: 24px;

  padding: 6px;
}
footer i:hover {
  color: var(--primary-200);
}






@media screen and (max-width: 932px) {
  .header__menu {
    gap: 15px;
  }
}
@media screen and (max-width: 780px) {
  #title {
    font-size: 1em;
  }
  body p{
    font-size:16px;
  }
  .header__btn {
    display: block;
    cursor: pointer;
    background-color: transparent;
    /* width: 40px;
    height: 40px;
    padding: 5px;
  } */
  }
  .header__item{
    background-color:transparent;
  }
  .header__item:hover {
  background-color:transparent;
}
  .header__item a {
    text-decoration: none;
    color: var(--text-200);
    text-align: center;}
  
.header__item a:hover {
   color:var(--primary-100);
  }
  .header__menu {
    position: fixed;
    padding: 0;
    top: 60px;
    bottom: 0px;
    background: rgba(16, 15, 15, 0.9);
    height: 100vh;
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0.4% at 50% 50%);
    transition: clip-path is ease-in-out;
    -webkit-transition: clip-path is ease-in-out;
    -moz-transition: clip-path is ease-in-out;
    -ms-transition: clip-path is ease-in-out;
    -o-transition: clip-path is ease-in-out;
    z-index: 100;
  }
  
  .header__input:checked ~ .header__menu {
    clip-path: circle(70.7% at 50% 50%);
  }
}
